<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Luana</title>
</head>
<body>
    <h2>Registre-se</h2>
    <form action="/show" method="post">
        <p>
            Nome:
        <input type="text" placeholder="Nome" name="name">
        </p>
        <p>
            Sobrenome:
        <input type="text" placeholder="Sobrenome" name="surname">
        </p>
        <p>
            Endereço:
        <input type="text" placeholder="Aonde mora?" name="casa">
        </p>
        <p>
            Data de nascimento:
        <input type="date" placeholder="data de nascimento" name="data">
        </p>
        <p>
            Escolaridade
        <input type="text" placeholder="escolaridade" name="escola">
        </p>
        <p>
            Senha
        <input type="password" placeholder="senha" name="senha">
        </p>
        <p>
            Obrigado pela refência de usar minha API
        </p>
        <p>
            ASS: Dev da API
        </p>
        <p>
        <button type="submit" placeholder="Cadastrar">Cadastrar</button>
        </p>
    </form>
</body>
</html>